<table width="100%" cellspacing="0" border="0" style="text-align:left">
    <tr>
        <td width="100%" style="background-color:#f1f1f1;text-align:center;padding:2%">
            <table width="540" cellspacing="0" cellpadding="0" border="0" align="center">

                <tr>
                    <td style="background-color:#fff;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif !important;font-size:14px;color:#7e7e7e;text-align:left; border-radius:8px; border: 1px solid #c3ceda;">

                        <table width="540" style="background: #f1f3f5; border-radius:8px 8px 0 0; border-bottom: 1px solid #c3ceda ">
                            <tr>
                                <td style="vertical-align: middle;padding: 15px 0 15px 20px;">
                                    <img style="margin-right: 10px" src="http://*|DOMAIN|*/images/logo.png" alt="logo">
                                </td>
                                <td style="vertical-align: middle; padding: 15px 0 15px 0; text-align: left; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif !important; font-weight: bold; font-size: 14px; color:#000000;"><font face="'Helvetica Neue', Helvetica, Arial, sans-serif">New Project</font></td>
                                <td style="vertical-align: middle; padding:15px 20px 15px 0;">
                                    <p style="text-align: right;font-size:12px;color:#7e7e7e; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">Some description</p>
                                </td>
                            </tr>
                        </table>

                        <table width="540">
                            <tr>

                                <td style="padding: 35px 20px 0 20px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif !important;font-size:14px;color:#7e7e7e;">
                                    <p style="font-weight: bold; margin: 0 0 20px 0; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">Well done {{ user.getUsername }}, your account has been successfully approved!</p>
                                    <p style="font-weight: normal; margin: 0 0 20px 0; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">Thank you for joining our new Project!</p>
                                    <p style="font-weight: normal; margin: 0 0 20px 0; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">You can now login <a href="*|LOGIN_ABSOLUTE_PATH|*/">here</a>!</p>
                                    <p style="font-size:14px;color:#7e7e7e;margin: 0 0 20px 0; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">Thanks, </p>                  <p style="font-size:14px;color:#7e7e7e;margin: 0 0 30px 0; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">The Team
                                    </p>
                                </td>
                            </tr>
                        </table>


                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
